.AsteroidList {}

.title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.subtitle {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.list {
  margin-top: 24px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.sizeType {
  cursor: pointer;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.sizeType_checked {
  font-weight: 400;
  text-decoration: underline;
}

.radio {
  display: none;
}
