.Layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("./../../../../public/planet.png");
  background-size: auto 74%;
  background-position: 0 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (max-width: 860px) {
    background-position-x: -200px;
  }

  @media (max-width: 640px) {
    background-position-x: -265px;
  }
}

.content {
  flex-grow: 1;
  margin: 0 auto;
  padding-left: 100px;

  @media (max-width: 640px) {
    padding-left: 48px;
  }
}

.title {
  width: 400px;
  
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.subtitle {
  margin-top: 8px;
}