@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Passion+One&display=swap');



.Header {
  padding: 16px;
}

.title {
  color: rgba(248, 102, 0, 1);
  font-size: 32px;
  line-height: 35.23px;

  font-family: 'Lato', sans-serif;
  font-family: 'Passion One', cursive;
}

.description {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}